exp/dataset/citeseer/
exp/dataset/Coauthor_cs/
exp/dataset/Coauthor_physics/
exp/dataset/cora/
exp/dataset/CoraFull/
exp/dataset/pubmed/
exp/dataset/reddit/
exp/dataset/aifb/
exp/dataset/mutag/
python/egl.egg-info/
python/egl/__pycache__/
python/seastar.egg-info
python/build/
python/dist/
docs/_build
docs/_static
.DS_Store
