benchmarking/dataset/citeseer/
benchmarking/dataset/Coauthor_cs/
benchmarking/dataset/Coauthor_physics/
benchmarking/dataset/cora/
benchmarking/dataset/CoraFull/
benchmarking/dataset/pubmed/
benchmarking/dataset/reddit/
benchmarking/dataset/aifb/
benchmarking/dataset/mutag/
benchmarking/dataset/england_covid/
benchmarking/dataset/bitcoin/
*.egg-info/
seastar/build/
seastar/dist/
docs/_build
__pycache__/
.DS_Store
*.so
build
dist
*.egg-info
*.txt
test_*.*
*.csv
*.prof
.vscode/
*.svg