benchmarking/dataset/citeseer/
benchmarking/dataset/Coauthor_cs/
benchmarking/dataset/Coauthor_physics/
benchmarking/dataset/cora/
benchmarking/dataset/CoraFull/
benchmarking/dataset/pubmed/
benchmarking/dataset/reddit/
benchmarking/dataset/aifb/
benchmarking/dataset/mutag/
seastar/egl.egg-info/
seastar/egl/__pycache__/
seastar/seastar.egg-info
seastar/build/
seastar/dist/
seastar/dataset/local
docs/_build
__pycache__/
.DS_Store
*.so
build
dist
*.egg-info
*.txt
test.py