
.wy-side-nav-search {
    background-color: #0e103d;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #0e103d;
}

.wy-menu-vertical a {
	color: #0e103d;
}

.wy-nav-side {
	background: #efefef;
}